{
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "all",
    "semi": true,
    "arrowParens": "always",
    "useTabs": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yaml",
            "options": {
                "tadWidth": 2,
                "printWidth": 40,
                "singleQuote": true
            }
        }
    ]
}
